<div class="task-create">
  <form class="task-form" {{action "createTask" on="submit"}}>
      {{input type='text' placeholder='name' value=model.name}}
      {{input placeholder="Due date" type="date" value=model.date }}

      <button type="submit" name="button">Add Task</button>
  </form>

  {{!-- <form class="task-form" {{action "createSubtask" on="submit"}}>

    {{#paper-button raised=true classNames="md-primary"}}Add Subtask{{/paper-button}}

  </form> --}}
</div>

{{yield}}
