{{!-- {{app-header}} --}}
<div class="manage-container">
  <h1 class="manage-header">Manage the Mammoth</h1>
  <ul class="manage-list">
      {{#each model as |task|}}
      <li class="manage-list-item">
        <h2>{{task.taskname}}</h2>
        <h3>{{task.dueDate}}</h3>

        <ul class="subtasks-list">
        {{#each task.subtasks as |subtask|}}
          <li class="manage-subtask">
            {{subtask.subtaskName}}
            {{subtask.subtaskDueDate}}
          </li>
        {{/each}}
        </ul>

      </li>
      {{/each}}


  </ul>
</div>
{{yield}}
