{{!-- {{app-header}} --}}
<div class="manage-container">
  <h1 class="manage-header">Manage with Mammoth</h1>
  <ul class="manage-list">
      {{#each model as |task|}}
      <li class="manage-list-item">
          <hr>
        <h2>{{task.taskName}}</h2>

        <h3>Project Due Date: {{task.dueDate}}</h3>

        <ul class="subtasks-list">
        <h6 class="manage-subtask-label">Subtasks</h6>
        {{#each task.subtasks as |subtask|}}
          <li class="manage-subtask">
            {{subtask.subtaskName}}
            {{subtask.subtaskDueDate}}
                          <button type="pure-button manage-remove-button" {{action "removeSubtask" subtask}}><i class="fa fa-minus-square-o fa-3x"></i></button>
          </li>
        {{/each}}
        </ul>
                <button type="pure-button" class="delete-task" name="destroyTask" {{action "deleteTask"}}> Delete Task</button>
      </li>
      {{/each}}


  </ul>
</div>
{{yield}}
