{{!-- {{app-header}}--}}
<div class="manage-container">
  <h1 class="manage-header">Manage with Mammoth</h1>

  {{#link-to 'tasks.create'}}
    <button class="button-main pure-button  manage-create-new" name="button">Create NEW
      <br> Project</button>
  {{/link-to}}
  <ul class="manage-list">
    {{#each model as |task|}}
      <li class="manage-list-item">
        <hr>
        {{#link-to 'tasks.edit' task}}
          <h2 class='manage-edit'>{{task.taskName}}</h2>
          <span>(click to edit)</span>
        {{/link-to}}

        <h3>Project Due Date: {{format-date task.dueDate}}</h3>
        <div class="projectComplete">
          <i class= 'fa fa-check'></i>
        </div>

        <ul class="subtasks-list">
          <h6 class="manage-subtask-label">Subtasks</h6>
          {{#each task.subtasks as |subtask|}}
            <li class="manage-subtask">
              {{input type="checkbox" action="markComplete" class="checkbox" name="isComplete" checked=false}} <span>{{subtask.subtaskName}} {{format-date subtask.subtaskDueDate}}</span>
            </li>
          {{/each}}

        </ul>

        <button type="pure-button" class="taskComplete" name="markComplete" {{action "markComplete" task}}>Mark Complete</button>

        <button type="pure-button" class="delete-project" name="destroyTask" {{action "destroyTask" task}}> Delete Project</button>

      </li>
    {{/each}}

  </ul>

</div>

{{yield}}
