{{!-- {{app-header}} --}}
{{log model}}
<div class="manage-container">
  <h1 class="manage-header">Manage the Mammoth</h1>
  <ul class="manage-list">
    <li>TASK</li>
    <li>SUBTASK</li>
    {{session.currentUser.name}}
    {{session.currentUser.task}}
      {{!-- {{#each session.currentUser.tasks as |task|}}
      <li class="manage-tasks">
        {{tasks.taskname}}
        {{tasks.dueDate}}
      </li>
      {{/each}}

      {{#each model.subtasks as |subtask|}}
      <li class="manage-subtask">
        {{subtask.subtaskName}}
        {{subtask.subtaskDuedate}}
      </li>
      {{/each}} --}}
  </ul>
</div>
{{yield}}
